.cell {
    -fx-border-style: solid;
    -fx-background-color: white;
}


.disk:hover {
    -fx-background-color: yellow;
}

.restricted {
    -fx-background-color: black;
}

.selected {
    -fx-background-color: lightpink;
}

.available-step {
    -fx-background-color: yellow;
}